// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;

$title-color:       rgba(0, 0, 0, 0.9);
$moreinfo-color:    rgba(255, 255, 255, 0.7);
$tick-color:        rgba(0, 0, 0, 0.9);

// ----------------------------------------------------------------------------
// Widget-graph styles
// ----------------------------------------------------------------------------
.widget-traffic {

  background-color: $background-color;
  position: relative;


  svg {
    position: absolute;
    opacity: 0.9;
    fill-opacity: 0.3;
    left: 0px;
    top: 10px;
  }

  .traffic_in {
      //color: rgba(170,254,207,0.7);
      color: rgba(1,109,49,0.9);
      font-size: 16px;
  }

  .traffic_out {
      //color: rgba(177,220,254,0.7);
      color: rgba(1,65,116,0.9);
      font-size: 16px;
  }

  .graph-title {
    position: absolute;
    text-align: center;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 99;
    //font-size: 20px;
    color: $title-color;
    font-size: 14px;
    font-weight: 600;
    
  }

  .value {
    position: relative;
    right: 5px;
    text-align: right;
    z-index: 99;
  }

  .more-info {
    color: $moreinfo-color;
    font-weight: 600;
    font-size: 18px;
    margin-top: 0;
    z-index: 99;
    
  }

  .x_tick {
    position: absolute;
    bottom: 8px;
    fill: $tick-color;
    
    .title {
      font-size: 12px;
      color: $tick-color;
      opacity: 0.75;
      padding-bottom: 2px;
      position: relative;
      font-weight: 600;
    }
  }
  
  .x_tick_d3 {
      font-size: 2px;
      color: rbga(0,0,0,0);
  }
  
  .x_grid_d3 {
  	z-index: -1;
  	stroke: rgba(0, 0, 0, 0.1);
    stroke-width: 1px;
  	stroke-dasharray: 1 0 0 1;
  }

  .y_ticks {
    font-size: 10px;
    fill: $tick-color;
    fill-opacity: 1;
  }

  .y_grid {
  	z-index: -1;
  	stroke: rgba(0, 0, 0, 0.2);
    stroke-width: 1px;
  	stroke-dasharray: 1 0 0 1;
    margin-left: 60px;
  }

  .domain {
    display: none;
  }
  
  .updated-at {
    bottom: 0px;
    font-size: 10px;
    z-index:1;
    font-weight: 600;
    
    color: rgba(255, 255, 255, 0.7);
  }

}
